div {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* text-align: center; */
  /* min-height: 100vh; */
  font-size: 50px;
  font-weight: bold;
  color: rgb(97, 95, 95);
  margin: 50px;
}

p.title {
  display: block;
  font-size: 20px;
}
p.body {
  display: block;
  font-size: 15px;
}